<!DOCTYPE html>
<html>
  <head>
    <title>AI / ML Startup Competitive Proximity</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.css" rel="stylesheet">
  </head>
  <body>
    <h2>AI / ML Venture Market Proximity by Topic Distribution</h2>

      <p>  This project's purpose was to investigate how Natural Language Processing (NLP) could be leveraged to discover insights that complement traditional market mapping. Using data from CrunchBase, NLP was used to combine both the startup's categories and description to establish a numerical market proximity. The visualization provides zoom and hover functionality to display the venture's name and category and explore clusters with higher fidelity.
      </p>
          
Data: Startups were filtered for those in the Artificial Intelligence & Machine Learning categories, founded within the past 3 years in the following 5 cities:
      <ul> 
      <li> San Francisco </li>
      <li> Los Angeles </li>
      <li> Austin </li>
      <li> Boston </li>
      <li> New York </li>
      </ul>
      <p>
Technical: The NLP process made use of spaCy, NLTK, CountVectorizer, LDA, T-SNE. The visualization app is built using Bokeh running on Flask. <br><br>

Contact: Please reach out with questions or suggestions to rwmyers46@gmail.com
      </p>
<h3> Russell W. Myers </h3>
      
    {{ div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.4.min.js"></script>
    {{ script|safe }}
  </body>
</html>